{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
      "^react",
      "<THIRD_PARTY_MODULES>",
      "^../utilities/(.*)$",
      "^../constants/(.*)$", 
      "^./(.*)$",
      "^../assets/(.*)$",
      "^../styles/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }
  