.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s ease-out forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slow-fade-in {
  opacity: 0;
  animation: slowFadeIn 2s ease forwards;
}

@keyframes slowFadeIn {
  to {
    opacity: 1;
  }
}

.bam {
  animation: bam 700ms ease-out;
}

@keyframes bam {
  0% {
    transform: scale(0.5) rotate(-10deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(10deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}

.bam-bam {
  animation: bamBam 3000ms ease-out;
  display: inline-block;
}

@keyframes bamBam {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) scale(1.1) rotate(-5deg);
  }
  50% {
    transform: translateX(20px) scale(1.1) rotate(5deg);
  }
  70% {
    transform: translateX(0px) scale(1);
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
